.footer-template {
  background-color: #f7f9fa !important;
  height: 400px;
  margin-top: 2rem !important;
  padding-top: 3rem !important;
}

.text-justify {
  text-align: justify !important;
}

.p-footer-line-height {
  line-height: 26px !important;
}

.p-footer-color {
  color: #757575 !important;
}

.link-footer p {
  margin-bottom: .5rem!important;
}